.Booklist-Page {
  color: rgb(250, 250, 250);
  background-color: rgba(0, 0, 0, 0.986);
  font-family: 'Bai Jamjuree', sans-serif;
}

.Booklist{
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: rgba(0, 0, 0, 0.986);
}


.toolbar{
  background: rgba(0, 0, 0, 0.986);
}
.Booklist h1{
  color: white;
  padding-left: 20px;
  font-weight: bold;
}
.book{
  margin: 10px;
}
.book .title{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Bai Jamjuree', sans-serif;
}
.book .detial{
  font-size: 15px;
  font-family: 'Bai Jamjuree', sans-serif;


}

