.userinfochoice .text{
    font-size: large;
    background-color: rgb(29, 29, 29);
    padding-left: 5%;
    float: left;
}

.userinfochoice .input-changepassword{
    font-size: large;
    background-color: rgb(29, 29, 29);
    color: white;
    border: 0;
    padding-right: 5%;
    flex-grow: 1;
}

.page{
    background-color: rgb(29, 29, 29);
    color: white;
}

.userinfochoice{
    background-color: rgb(29, 29, 29);
    color: tomato;
    padding-top: 8%;
    padding-bottom: 8%;
    border-bottom:1px solid gray;
    display: flex;
}

.size{
    fill: rgb(29, 29, 29);
}

.submitbutton{
    font-size: large;
    padding: 5% 10% 5% 10%;
    margin-right: 2%;
    margin-top: 4%;
    border-radius: 50px;
    color: white;
    background: rgb(221,134,213);
    background: linear-gradient(180deg, rgba(221,134,213,1) 7%, rgba(168,109,250,1) 45%, rgba(139,87,236,1) 83%, rgba(129,156,173,1) 100%);
}

.cancle1button{
    font-size: large;
    padding: 5% 10% 5% 10%;
    margin-right: 4%;
    margin-top: 4%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0);
    border: gray solid 1px;
    color: gray;
}