.text-confirm{
    background-color: rgb(29, 29, 29);
    padding-left: 5%;
    float: left;
    font-size: 19px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.userinfochoice .input-changepassword{
    background-color: rgb(56, 56, 56);
    color: white;
    border:0;
    border-radius: 15px;
    margin-right: 5%;
    flex-grow: 1;
    font-size: 18px;
    padding: 10px;
    height: 35px;
   
}

.page{
    background-color: rgb(29, 29, 29);
    color: white;
}



.size{
    fill: rgb(29, 29, 29);
}

.group_button{
    margin-bottom: auto;
    margin-top: 5%;
}

.userinfochoiceBlind .input-changepasswordBlind{
    background-color: rgb(56, 56, 56);
    color: white;
    border:0;
    border-radius: 15px;
    margin-right: 4%;
    margin-left: 1%;
    flex-grow: 1;
    font-size: 20px;
    padding: 10px;
    height: 40px;
    margin-top: 10px;
}

.text-confirmBlind{
    background-color: rgb(29, 29, 29);
    padding-left: 5%;
    float: left;
    font-size: 21px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.text-confirmABlind{
    background-color: rgb(29, 29, 29);
    padding-left: 5%;
    float: left;
    font-size: 22px;
    font-family: 'Bai Jamjuree', sans-serif;
}