.DetailPage {
  color: rgb(250, 250, 250);
  background-color: rgb(29, 29, 29);
  font-family: 'Bai Jamjuree', sans-serif;
}
.toolbar .tootbar-container {
  background: rgb(29, 29, 29);
}
.DetailBook .bar{
  margin: 40px 20px 0px 10px;
}

.DetailBook .bar .button-back{
  font-size:30px;
  color: rgb(250, 250, 250);
}

.DetailBook .bar .button-save{

  float: right;
  font-size:38px;
  --color: rgb(250, 250, 250);
  /* margin:10px ; */
}

.data-book .image-book  {
  width: 140px;
  height: 180px;
  margin: auto;
  margin-top: 40px;
  --border-radius:5px;
  box-shadow: 3px 3px 3px rgb(239, 237, 245);
  object-fit: fill;

}

.data-book h3{
  margin-top: 20px;
  font-weight: bold;
  color: rgb(250, 250, 250);
  font-family: 'Bai Jamjuree', sans-serif;
}
.data-book p{
  margin: 5px;
  font-family: 'Bai Jamjuree', sans-serif;
  color: rgb(236, 236, 236);
  font-size: 16px;
}

.data-book{
  margin: 0px 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* .button-back {
  background-color: black;
} */

.story-book{
  font-family: 'Bai Jamjuree', sans-serif;
  color: rgb(255, 255, 255);
  margin: 30px;
}

.title-story{
  font-weight: bold;
  margin: 20px 50px;
  padding: 5px;
  border-radius: 30px;
  background-color: rgb(41, 43, 43);
  text-align: center;
}

div.story{
  text-indent: 40px;
  

}

.players{
  text-align: center;
  margin: 20px 50px;
}

.mix-button{
  margin: 0px 50px;
  text-align: center;
}

.Blind .mix-button{
  /* margin: 0px 50px; */
  text-align: center;
}


.button-play,.button-play-back,.button-play-forward{
  font-size: 40px;
  height: 50px;
 
}

.button-play-back, .button-play-forward {
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}




.range-time{
  background: rgb(29, 29, 29);
  color: white;
  border-color: black;
  font-size: 15px;
}

.button{
  color: white;
}


.button-like:active ,.button-play-auto:active{
  color: rgb(255, 0, 0);
  background-color: rgb(245, 244, 238); 
}

.button-like, .button-play-auto{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: rgb(123, 87, 207);
  font-size:13px;
  font-weight: bold;
  color: white;
  padding: 0px;
  margin: 20px 0px 5px 170px;
  
}

.save, .auto{
  color: white;
  float: right;

  font-size: 15px;
  font-family: 'Bai Jamjuree', sans-serif;
}



.range-time {
  /* padding-left:0px !important;  */

  --knob-background:rgb(248, 182, 241);
  --bar-background-active:rgb(248, 182, 241);

}

.line-time .item-inner{
  width: 100%;
  padding-inline-end:0 !important
}

.episode-Booklist h1{
  color: white;
  padding-left: 30px;
  font-weight: bold;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 22px;
}


.episode-Booklist {
  margin: 10px 10px 30px 10px;
}

/* .episode-Booklist{
  margin-bottom: 30px;
} */


.Blind .button-play,.Blind .button-play-back,.Blind .button-play-forward{
  font-size: 22px;
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
  width: 100%;
  border-color: darkgray;
  border-radius: 20px;
  font-family: 'Bai Jamjuree', sans-serif;
}


.DetailPage .Blind .savebuttonBlind{
 
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    /* margin-right: 2%;
    margin-top: 4%; */
    margin: 20px 20px 0px 20px;
    width: 80%;
    border-radius: 20px;
    color: white;
    height: 40px;
    background: rgb(221,134,213);
    background: linear-gradient(180deg, rgba(221,134,213,1) 7%, rgba(168,109,250,1) 45%, rgba(139,87,236,1) 83%, rgba(129,156,173,1) 100%);
}


.DetailPage .Blind .group_buttonn{
  margin-bottom: 50px;
}


.Blind .data-book h3 {
  font-size: 24px;
  margin-top: 40px;
  font-weight: bold;
  color: rgb(250, 250, 250);
  font-family: 'Bai Jamjuree', sans-serif;
}


.Blind .data-book p {
  margin: 10px;
  font-family: 'Bai Jamjuree', sans-serif;
  color: rgb(236, 236, 236);
  font-size: 20px;
}

.Blind .players {
  text-align: center;
  margin: 50px 20px;
}
.Blind .range-time {
  font-size: 22px;
  --knob-size: 45px;
  --bar-height: 5px;
}

.Blind .title-story {
  font-size: 22px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(41, 43, 43);
  text-align: center;
}
.Blind .story-book {
  font-size: 20px;
  margin-bottom: 20px;
}
.Blind .story {
  margin-bottom: 50px;
}

.button_voie{
  width: 100%;

}
.button_voie .savebuttonBlind{
  width: 25%;
  font-size: 16px;
  margin: 30px 10px 20px 10px;
  padding: 10px;
}

.voie:active{
  background-color: rgb(176, 176, 176);

}
.Check-pitch .text{
  font-size: 20px;
  padding-bottom: 10px;
  /* margin-right: 10px; */

}
.G_Checkbox{
  margin-right: 10px;
}
.Check-pitch{
  text-align: center;
  margin: 40px ;


}
.Check-pitch .Checkbox{
  width: 7%;
  height:7%;
  --border-width: 2px;
  --border-radius: calc(var(--size) * 1.125);
  --background-checked: rgb(103, 11, 207);
  --checkmark-color: white;
  --checkmark-width: 3;

}

.CheckboxBlind{
  width: 25%;
  height:30px;

  --border-width: 2px;
  --border-radius: calc(var(--size) * 1.125);
  --background-checked: rgb(103, 11, 207);
  --checkmark-color: white;
  --checkmark-width: 3;

}