.HomePage{
  color: white;
  background: rgb(29, 29, 29);
  font-family: 'Bai Jamjuree', sans-serif;
}

.hot-book{

  background: rgba(0, 0, 0, 0.986);
  font-family: 'Bai Jamjuree', sans-serif;
}
.hot-book .Header{
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px 10px 20px;
  background-color: rgba(39, 39, 39, 0.986);
}
.title-category{
  padding: 0px 2px;
}
.hot-book{
  background: rgba(44, 44, 44, 0.986);
  color: white;
  padding: 2px 0px 5px 0px;
  border-radius: 40px;
  margin: 10px 20px 25px 20px;


}


.hot-book p{
  font-weight: normal;
  font-size: 15px;
  margin: 5px;
  color: rgb(236, 235, 233);
}


.imge{
  margin-left: 5px;
  width: 85px;
  height: 105px;
  --border-radius:5px;
  box-shadow: 2px 2px 2px rgb(238, 232, 250);
 

}

h1{
  color: white;
}

.image-b .img-book{
  /* margin-left: 5px; */

  width: 85px;
  height: 110px;
  border-radius:5px;
  box-shadow: 2px 2px 2px rgb(238, 232, 250);
 
  
}

.Card-book{
  --background:rgb(29, 29, 29);
  width: 110px;
  height: 160px;
 
  margin: 10px 0px;
  box-shadow:none;
}


.Card-book .CardContent{
  padding: 0px;
  
  
}
.CardContent .title{
  color: white;
  font-size: 15px;
  padding: 5px;
  font-family: 'Bai Jamjuree', sans-serif;
}
.Catagory{
  padding-top: 15px;
  padding-bottom: 10px;

  font-family: 'Bai Jamjuree', sans-serif;
}
.viewall{
 float: right;
 padding-right: 15px;
 color: rgb(204, 204, 204);
 
}
.name_catagory{
  color: white;
  padding-left: 20px;
  font-size: 20px;
}


/* .HomePage .Catagory-even{
  padding: 20px;
  height: 220px;
  background: rgba(68, 68, 68, 0.986);
} */

.Catagory-even{
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  /* margin-top: 20px; */
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: rgba(39, 39, 39, 0.986);
}

.Catagory-even .Card-book{
  --background:rgba(39, 39, 39, 0.986);
  width: 110px;
  height: 160px;
 
  margin-top: 15px ;
  color: black;
  ;
}