/* .Blind .search_results{
  color: white;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 22px;
 } */


 .Blind .name_catagory {
  color: white;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 22px;
}